<div class="container">
  <div class="form-new-member col-md-12">
    <h2>New Member Form</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :email, "Email*" %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <small class="error"><%= resource.errors[:email].join(", ") %></small>
      </div>
      <div class="form-group">
        <%= f.label :password, "Password*" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        <small class="error"><%= resource.errors[:password].join(", ") %></small>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation*" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        <small class="error"><%= resource.errors[:password_confirmation].join(", ") %></small>
      </div>
      <div class="form-group">
        <%= f.label :name, "Name*" %>
        <%= f.text_field :name, autocomplete: "off", class: 'form-control' %>
        <small class="error"><%= resource.errors[:name].join(", ") %></small>
      </div>
      <div class="form-group">
        <%= f.label :city, "City*" %>
        <%= f.text_field :city, autocomplete: "off", class: 'form-control', placeholder: '' %>
        <small class="error"><%= resource.errors[:city].join(", ") %></small>
      </div>
      <div class="form-group">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, autocomplete: "off", class: 'form-control', placeholder: '' %>
      </div>
      <div class="form-group">
        <%= f.label :phone, "Telephone" %>
        <%= f.text_field :phone, autocomplete: "off", class: 'form-control', placeholder: '' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= image_tag("default-user.png", width: 100, class: 'upload-avatar') %>
        <%= f.file_field :avatar, style: 'display:none;' %>
        <div class="btn btn-default" id="add-photo">Add Photo</div>
      </div>
      <div class="form-group">
        <%= f.label :dream_destination %>
        <%= f.text_field :dream_destination, autocomplete: "off", class: 'form-control', placeholder: '' %>
      </div>
      <div class="form-group">
        <%= f.label :favorite_food %>
        <%= f.text_field :favorite_food, autocomplete: "off", class: 'form-control', placeholder: '' %>
      </div>
      <div class="form-group">
        <%= f.label :favorite_restaurant, "Favourite Restaurant" %>
        <%= f.text_field :favorite_restaurant, autocomplete: "off", class: 'form-control', placeholder: '' %>
        <small>Occupation, Income, How many trips do you make annually, DO you primarily travel for Business or Pleasure and Favorite Hotel Brand.</small>
      </div>
    </div>
    <div class="actions col-md-12">
      <%= f.submit "Sign up", class: "btn btn-primary pull-right" %>
    </div>
    <% end %>
    <!-- <#%= render "devise/shared/links" %> -->
  </div>
</div>